<ion-header>
  <ion-navbar>
    <!--<ion-buttons left>-->
      <!--<button ion-button icon-only (click)="openProfile()">-->
        <!--<ion-icon name="md-person"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->

    <ion-title mode="ios">
      Match
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openList()">
        <ion-icon name="md-list"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div swing-stack
       #myswing
       [stackConfig]="stackConfig"
       (throwoutleft)="voteUp(false)"
       (throwoutright)="voteUp(true)"
       id="card-stack">
    <ion-card #mycards swing-card *ngFor="let card of cards">
      <ion-item>
        <div class="profile-image-wrapper">
          <div class="profile-image"
               [style.backgroundImage]="'url(' + card.picture + ')'">
          </div>
        </div>
        <h2>{{ card.username }}</h2>
        <p>{{ card.tagLine }}</p>
      </ion-item>
    </ion-card>
  </div>

  <div *ngIf="noMatches">
    No more matches! Try again later
  </div>

  <ion-row>
    <ion-col>
      <button ion-button clear small icon-left color="primary" (click)="voteUp(false)">
        <ion-icon name="thumbs-down"></ion-icon>
        No
      </button>
    </ion-col>

    <ion-col>
      <button ion-button clear small icon-left color="primary" (click)="voteUp(true)">
        <ion-icon name="thumbs-up"></ion-icon>
        Yes
      </button>
    </ion-col>
  </ion-row>
</ion-content>
